In [ ]:
# Add function to add contact
# Add function to delted contact
# Add function to updated contact
# Add function to add patient
# Add function to delted patient
# Add function to updated patient

# Add config file 
# Build google caldner module
# Build sql module

In [56]:
d = {"name":"n1","pass":"pass2"}
list(d.keys())[0]
list(d.values())[0]

'n1'

In [79]:
s="DELETE FROM table_name_1 WHERE name='n1' pass='pass2' "
s.strip()

"DELETE FROM table_name_1 WHERE name='n1' pass='pass2'"

In [82]:

def get_delete_query(table_name,key_value_dict):
    if (len(key_value_dict.keys()) < 1):
        return "DELETE FROM {}".format(table_name) + " WHERE"+ str(list(d.keys())[0]) + "=" + "'" + str(list(d.values())[0]) + "'".strip() 
    else:
        where_parse = ""
        for k,v in d.items():
            where_parse = where_parse + str(k) + "=" + "'" + str(v) + "'" + " "
        return "DELETE FROM {}".format(table_name) + " WHERE " + where_parse.strip() 
get_delete_query("table_name_1",d)

"DELETE FROM table_name_1 WHERE pass='pass2'"

In [92]:
#!/usr/bin/env python
import config as cfg
import pymysql
class SQLFunc:
    def __init__(self):
        pass
#         self.connection = set_connection()
    
    def set_connection(self):
         self.connection = pymysql.connect(host=cfg.mysql["host"],database = cfg.mysql["databse"],user=cfg.mysql["user"],
                                           password=cfg.mysql["password"],
                       cursorclass=pymysql.cursors.DictCursor)
    
    def get_update_row(table_name,key_value_dict_to_update,key_value_dict_to_filtered=None):
        q = "UPDATE {}".format(table_name) + " SET" 
        set_parse = ""
        for k,v in key_value_dict_to_update.items():
            set_parse = where_parse + str(k) + "=" + "'" + str(v) + "'" + " "
        q = q + set_parse.strip()
        if key_value_dict_to_filtered:
            where_parse = ""
            for k,v in key_value_dict_to_filtered.items():
                where_parse = where_parse + str(k) + "=" + "'" + str(v) + "'" + " "
            q = q + " WHERE " + where_parse.strip()
        return q 
            
    def update_row(self,table_name,key_value_dict):
        with self.connection:
            with self.connection.cursor() as cursor:
                # Create a new record
                sql = get_update_row(self,table_name,key_value_dict_to_update,key_value_dict_to_filtered=None)
                cursor.execute(sql)

            # connection is not autocommit by default. So you must commit to save
            # your changes.
            self.connection.commit()
    
    def get_insert_query(self,table_name,key_value_dict):
        names = []
        values = []
        for k,v in key_value_dict.items():
            names.append(k) 
            values.append(v)
        return "INSERT INTO {}".format(table_name) + str(tuple(names)) + " VALUES " + str(tuple(values))
        
    def insert_row(self,table_name,key_value_dict):
        with self.connection:
            with self.connection.cursor() as cursor:
                # Create a new record
                sql = get_insert_query(self,table_name,key_value_dict)
                cursor.execute(sql)

            # connection is not autocommit by default. So you must commit to save
            # your changes.
            self.connection.commit()
            self.connection.close()
            
        def insert_row(self,table_name,key_value_dict):
            with self.connection:
                with self.connection.cursor() as cursor:
                    # Create a new record
                    sql = get_insert_query(self,table_name,key_value_dict)
                    cursor.execute(sql)

                # connection is not autocommit by default. So you must commit to save
                # your changes.
                self.connection.commit()
                self.connection.close()
        
        def get_delete_query(table_name,key_value_dict):
            if (len(key_value_dict.keys()) < 1):
                return "DELETE FROM {}".format(table_name) + " WHERE"+ str(list(d.keys())[0]) + "=" + "'" + str(list(d.values())[0]) + "'".strip() 
            else:
                where_parse = ""
                for k,v in key_value_dict.items():
                    where_parse = where_parse + str(k) + "=" + "'" + str(v) + "'" + " "
                return "DELETE FROM {}".format(table_name) + " WHERE " + where_parse.strip() 

        def delete_row(self,table_name,key_value_dict):
            with self.connection:
                with self.connection.cursor() as cursor:
                    # Create a new record
                    sql = get_delete_query(self,table_name,key_value_dict)
                    cursor.execute(sql)

                # connection is not autocommit by default. So you must commit to save
                # your changes.
                self.connection.commit()
                self.connection.close()

In [96]:
sql = SQLFunc()
sql.get_insert_query("patients_df",{"patient_id":"4","patient_name":"p4","patient_bad":"23","patient_room":"3"})
mysql("INSERT INTO patients_df('patient_id', 'patient_name', 'patient_bad', 'patient_room') VALUES ('4', 'p4', '23', '3')")

"INSERT INTO patients_df('patient_id', 'patient_name', 'patient_bad', 'patient_room') VALUES ('4', 'p4', '23', '3')"

In [108]:
mysql("INSERT INTO patients_df VALUES ('4', 'p4', '23', '3')")

PandaSQLException: (sqlite3.OperationalError) no such table: patients_df
[SQL: INSERT INTO patients_df VALUES ('4', 'p4', '23', '3')]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [101]:
import pandas as pd
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())
patients_df=pd.read_csv('patients_data.csv')
contacts_df = pd.read_csv('contacts_data.csv')
mysql("SELECT * FROM patients_df")

   patient_id patient_name  patient_bad  patient_room
0           1           p1           17             1
1           2           p2           19             2
2           3           p3           20             2

In [105]:
patients_df.columns

Index(['patient_id', 'patient_name', 'patient_bad', 'patient_room'], dtype='object')

In [104]:
mysql("DELETE FROM patients_df WHERE patient_name = NULL")

In [5]:
mysql("SELECT * FROM contacts_df")

   patient_id  contact_id contact_name  contact_mail contact_phone
0           1           1           c1  c1@gmail.com        052-11
1           1           2           c2  c2@gmail.com        052-22
2           1           3           c3  c3@gmail.com        052-33
3           2           4           c4  c4@gmail.com        052-44
4           2           5           c5  c5@gmail.com        052-55

In [8]:
class Contact:
    def __init__(self,patient_id,contact_name,contact_mail,contact_phone):
        self.contact_id = "Add function to get Max contact_id"
        self.patient_id = patient_id
        self.contact_name = contact_name
        self.contact_mail = contact_mail
        self.contact_phone = contact_phone
    
    def add_contact(self):
        q = """INSERT INTO patients_df (contact_id,patient_id,contact_name,contact_mail,contact_phone)
        VALUES ({},{},{},{},{})
        """.format(self.contact_id,patient_id,contact_name,contact_mail,contact_phone)
    
    def delete_contact(self):
        q = """
        DELETE FROM patients_df 
        WHERE contact_id = {} AND patient_id = {}
        """.format(self.contact_id,self.patient_id)

    def update_contact(self,name,value):
        q = """
        UPDATE patients_df 
        WHERE patient_id = {}""".format(name,value,self.patient_id)

In [ ]:
def add_new_contact(patient_id,contact_name,contact_mail,contact_phone):
    
    query = 'INSERT INTO patients_df (patient_id,contact_name,contact_mail,contact_phone)'